<h1>Our increadible cocktails</h1>
<div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail|  %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
              <h2><%= link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzzXKdKmUv-HTCr2Wdkw1Bf3-slbWHIrCPtafntc0sKliQukvCrA"), cocktail_path(cocktail)%>
              </h2>
              <p><%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-category' %></p>
              <p><%= link_to "Add a dose", new_cocktail_dose_path(cocktail), class: 'card-description' %></p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("zai5isk2tf9v50icimzx",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("ftdc2eq9tjr9ymctxf64",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
</div>
